{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        http-kit {:mvn/version "2.3.0"}
        compojure {:mvn/version "1.6.1"}
        hiccup {:mvn/version "1.0.5"}
        reagent {:mvn/version "0.8.0"}
        net.littleredcomputer/sicmutils {:mvn/version "0.12.0-SNAPSHOT"}}
 :paths ["src" "ui_src" "target" "resources"]}

;;clojure -m figwheel.main --build dev
